$averta-font-path: '../assets/fonts/Averta';

@font-face {
  font-family: 'Averta';
  font-style: normal;
  font-weight: 400;
  src:  
      url('#{$averta-font-path}/Averta.woff2') format("woff2"),
      url('#{$averta-font-path}/Averta-Regular.woff2') format("woff2"),
      url('#{$averta-font-path}/averta-regular-webfont.ttf') format("truetype");
}

@font-face {
  font-family: 'Averta';
  font-style: normal;
  font-weight: bold;
  src: url('#{$averta-font-path}/Averta-Bold.ttf') format("truetype");
}