* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 1 rem = 10px
}

body {
  font-family: 'Averta', sans-serif;

  min-height: 100vh;
}

.header {
  display: flex;
  flex-direction: column;
  height: 900px;
  padding: 5rem 5%;

  background-color: $cyan;
  position: relative;

  @media screen and (max-width: 768px) {
    height: 500px;
    padding: 1rem 5%;
  }

  @media screen and (max-width: 320px) {
    height: 400px;
  }
  
  @media screen and (min-width: 768px) {
    height: 500px;
  }

  @media screen and (min-width: 1024px) {
    height: 780px;
  }
  
}

.top-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 7rem;

  @media screen and (max-width: 320px) {
    height: 5rem;
  }

  &-logo {
    width: 4rem;
    height: 5rem;

    @media screen and (max-width: 320px) {
      width: 2rem;
      height: 3rem;
    }
  }

  .top-nav-links {
    margin: 0;
    padding: 0;
    list-style-type: none;

    @media screen and (max-width: 768px) {
      display: none;
    }

    &__link {
      float: left;
      border-radius: .5rem;
      width: 13.496rem;  
      border: 1px solid $purple;

      text-align: center;
      vertical-align: middle;

      @media screen and (min-width: 768px) {
        width: 9rem;
      }
      
      &:not(:last-child) {
        margin-right: 4rem;

        @media screen and (min-width: 768px) {
          margin-right: 1rem;
        }
      }
      
      &-item {
        display: block;
        padding: 1rem 1.5rem;
        text-decoration: none;
        font-size: 1.4rem;
        font-weight: bold;

        @media screen and (min-width: 768px) {
          padding: 0.8rem 1rem;
        }
      }
    }
  }
}

.signup-btn {
  background-color: $purple;

  a {
    color: white;
  }
}

.login-btn {
  a {
    color: $purple;
  }
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 67rem;
  width: 55%;
  z-index: 1;

  @media screen and (max-width: 768px) {
    align-items: center;
    height: 40rem;
    width: 100%;
    text-align: center;
    height: 40rem;
  }

  @media screen and (max-width: 320px) {
    align-items: center;
    height: 30rem;
    width: 100%;
  }

  @media screen and (min-width: 1024px) {
    height: 67rem;
    width: 55%;
  }

  &__headline {
    font-size: 4rem;
    font-weight: bold;
    color: $purple;

    @media screen and (max-width: 425px) {
      text-align: center;
    }

    @media screen and (max-width: 320px) {
      font-size: 3rem;
    }
  }

  &__subheadline {
    font-size: 2rem;
    color: $purple;
    font-weight: 100;
    margin-top: 1.6rem;

    @media screen and (max-width: 425px) {
      text-align: center;
    }

    @media screen and (max-width: 320px) {
      font-size: 1.5rem;
    }
  }

  &__image {
    position: absolute;

    width: 200px;
    height: 200px;

    @media screen and (max-width: 768px) { // 0 to 425
      display: none;
    }
    
    @media screen and (min-width: 768px) { // 768 to infinitiy
      width: 150px;
      height: 150px;
    }

    @media screen and (min-width: 1024px) {
      width: 250px;
      height: 250px;
    }

    &--1 {
      top: 33rem;
      right: 20rem;
      
      @media screen and (min-width: 768px) {
        top: 38rem;
        right: 13rem;
      }

      @media screen and (min-width: 1024px) {
        top: 20rem;
        right: 20rem;
      }

    }

    &--2 {
      top: 40rem;
      right: 0;
      
      @media screen and (min-width: 768px) {
        top: 41rem;
      }

      @media screen and (min-width: 1024px) {
        top: 28rem;
      }

    }

    &--3 {
      bottom: 9rem;
      right: 20rem;
      
      @media screen and (min-width: 768px) {
        bottom: 4rem;
        right: 11rem;
      }

      @media screen and (min-width: 1024px) {
        bottom: 9rem;
        right: 15rem;
      }

    }

    &--4 {
      bottom: 0;
      right: 0;
    }
  }
}

.download-links {
  display: flex;
  margin-top: 1.6rem;

  img {
    margin-right: 2rem;
    width: 150px;
    height: 50px;

    @media screen and (max-width: 425px) {
      margin-right: 0;
    }

    @media screen and (max-width: 320px) {
      width: 120px;
    }
  }
}

.app-features {
  display: flex;
  background-color: white;
  height: 60rem;
  padding-left: 5rem;
  padding-right: 5rem;
  margin-top: 1rem;

  @media screen and (max-width: 768px) {
    height: 25rem;
  }

  @media screen and (max-width: 425px) {
    flex-direction: column;
    height: 40rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    text-align: center;
  }

  & > * {
    flex: 1;
  }

  &__left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media screen and (max-width: 768px) {
      margin-bottom: 2rem;
      text-align: center;
    }

    &-inner {
      width: 80%;

      @media screen and (max-width: 768px) {
        width: 100%;
      }
    }

    &-leadtext {
      font-size: 2.5rem;
      font-weight: bold;
      color: $grey;
    }

    &-subtext {
      font-size: 1.2rem;
      margin-top: 1.5rem;
      color: $grey;
    }
  }

  &__right {
    display: flex;
    justify-content: center;
    align-items: center;

    @media screen and (max-width: 768px) {
      display: none;
    }

    img {
      width: 35rem;
      height: 35rem;
    }
  }
}

.food-categories {
  display: grid;

  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 25rem);

  @media screen and (max-width: 425px) {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 25rem);
  }

  @media screen and (min-width: 426px) and (max-width: 768px) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, 25rem);
  }
}

.food-category {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  &__name {
    position: absolute;
    font-size: 2rem;
    font-weight: bold;
    color: $grey;
    left: 1.5rem;
    bottom: 0.5rem;
  }

  img {
    width: 25rem;
    height: 25rem;
  }

  &--1 {
    width: 100%;
    height: 100%;
    background-color: #f5f5f5;
  }

  &--2 {
    background-color: #FF483B;

    p {
      color: white;
    }
  }

  &--3 {
    width: 100%;
    height: 100%;
    background-color: #FCBB01;

    img {
      width: 15rem;
      height: 20rem;
    }

    p {
      color: white;
    }
  }

  &--4 {
    width: 100%;
    height: 100%;
    background-color: #f5f5f5;

    img {
      width: 200px;
      height: 150px;
    }
  }

  @media screen and (min-width: 769px) {
    &--1 {
      grid-area: 1 / 1 / 3 / 3;
    }

    &--2 {
      grid-area: 1 / 3 / 2 / 5;
    }

    &--3 {
      grid-area: 2 / 3 / 3 / 4;
    }

    &--4 {
      grid-area: 2 / 4 / 3 / 5;
    }
  }
}

.favorites {
  background-image: url('/images/features-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  margin-top: 0;

  .app-features__right img {
    width: 30rem;
    height: 25rem;

    @media screen and (max-width: 425px) {
      display: none;
    }
  }

  @media screen and (max-width: 768px) {
    height: 35rem;

    .app-features__left {
      text-align: center;
      margin-top: 2rem;
    }

    .download-links {
      justify-content: center;
    }
  }

  @media screen and (max-width: 768px) {
    .download-links img {
      width: 15rem;
    }
  }
}

.downloads {
  display: flex;
  height: 40rem;

  justify-content: center;
  align-items: center;

  &-container {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    @media screen and (max-width: 768px) {
      text-align: center;
      padding: 3.5rem;

      .download-links img {
        width: 15rem;
      }
    }

    @media screen and (max-width: 320px) {
      height: 40rem;
    }
  }

  &-leadtext {
    font-size: 3rem;
    color: $grey;
    font-weight: bold;
    margin-bottom: 2rem;

    @media screen and (max-width: 320px) {
      font-size: 2rem;
    }
  }

  &-subtext {
    font-size: 1.6rem;
    margin-top: 2rem;
    color: $grey;
  }
}

.form-control {
  display: flex;

  margin-top: 3rem;

  align-items: center;

  input {
    padding: 1.6rem 2rem;
    font-size: 1.2rem;
    width: 25rem;
    height: 5rem;

    outline: none;
    border: 1px solid #e3f8f2;
    background-color: #e3f8f2;

    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: $cyan;
    }

    &::-moz-placeholder { /* Firefox 19+ */
      color: $cyan;
    }

    &:-ms-input-placeholder { /* IE 10+ */
      color: $cyan;
    }

    &:-moz-placeholder { /* Firefox 18- */
      color: $cyan;
    }

    @media screen and (max-width: 320px) {
      width: 19rem;
      padding: 1.6rem 1rem;
    }
  }

  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    font-size: 1.6rem;
    background-color: $cyan;
    height: 5rem;
  }
}

.footer {
  display: flex;
  flex-direction: column;
  height: 20rem;
  background-color: black;
  color: white;

  padding-right: 5%;
  padding-left: 5%;

  justify-content: center;

  hr {
    border: 0;
    height: 0;
    border-top: 1px solid white;

    margin-top: 2rem;
  }

  &__top {
    display: flex;

    justify-content: space-between;
    align-items: center;

    .footer__logo-group {
      display: flex;
      
      justify-content: center;
      align-items: center;

      img {
        margin-right: 2rem;
        width: 4rem;
        height: 5rem;
      }

      p {
        font-size: 1.5rem;
      }
    }

    .footer__others {
      margin: 0;
      padding: 0;
      list-style-type: none;

      &-item {
        display: block;
        margin-bottom: .5rem;
      }

      &-link {
        text-decoration: none;
        color: white;
        font-size: 1.4rem;
      }
    }

    .download-links {
      justify-self: flex-end;

      a {
        margin-right: .5rem;

        img {
          width: 15rem;
        }
      }

      @media screen and (max-width: 425px) {
        display: none;
      }
    }
  }

  &__bottom {
    display: flex;

    height: 4rem;
    margin-top: 2rem;

    justify-content: space-between;
    align-items: center;

    .copyright {
      font-size: 1.2rem;
    }
  }
}

.nav-bottom {
  margin: 0;
  padding: 0;

  list-style-type: none;

  &-item {
    display: inline;

    &:not(:last-child) {
      margin-right: 2.5rem;
    }

    a {
      text-decoration: none;

      i {
        color: white;
      }
    }
  }
}

.comments {
  display: flex;
  height: 50rem;
  width: 100%;

  flex-direction: row-reverse;
  align-items: center;

  background-image: url('/images/comments-bg.png');
  background-repeat: no-repeat;

  &-inner {
    width: 25%;
    height: 80%;
    display: flex;
    flex-direction: column;
    padding: 5rem;

    &__leadtext {
      font-size: 2.5rem;
      font-weight: bold;
      color: white;
    }
  }
}

.swiper-container {
  width: 100%;
  height: 80%;
  
  margin-left: 0;
  margin-right: 0;
  margin-top: 5rem;
}
.swiper-slide {
  p {
    font-size: 5rem;
    font-weight: bold;
    color: white;

    border-bottom: 1rem solid $cyan;
  }
}

.swiper-pagination {
  text-align: start;

  &-bullet-active {
    background-color: white;
  }
}