@font-face {
  font-family: "Averta";
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/Averta.woff2?0bc8c52bb7941c012cf2f59327f829cf) format("woff2"), url(/fonts/Averta-Regular.woff2?19d01f9e3f122df362173a5cdb71d9ff) format("woff2"), url(/fonts/averta-regular-webfont.ttf?3277e91be4c53fc42937d7b247e04f28) format("truetype");
}

@font-face {
  font-family: "Averta";
  font-style: normal;
  font-weight: bold;
  src: url(/fonts/Averta-Bold.ttf?0f7beaa6c0bfc64c17de402edd2c0148) format("truetype");
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Averta", sans-serif;
  min-height: 100vh;
}

.header {
  display: flex;
  flex-direction: column;
  height: 900px;
  padding: 5rem 5%;
  background-color: #71DEC0;
  position: relative;
}

@media screen and (max-width: 768px) {
  .header {
    height: 500px;
    padding: 1rem 5%;
  }
}

@media screen and (max-width: 320px) {
  .header {
    height: 400px;
  }
}

@media screen and (min-width: 768px) {
  .header {
    height: 500px;
  }
}

@media screen and (min-width: 1024px) {
  .header {
    height: 780px;
  }
}

.top-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 7rem;
}

@media screen and (max-width: 320px) {
  .top-nav {
    height: 5rem;
  }
}

.top-nav-logo {
  width: 4rem;
  height: 5rem;
}

@media screen and (max-width: 320px) {
  .top-nav-logo {
    width: 2rem;
    height: 3rem;
  }
}

.top-nav .top-nav-links {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

@media screen and (max-width: 768px) {
  .top-nav .top-nav-links {
    display: none;
  }
}

.top-nav .top-nav-links__link {
  float: left;
  border-radius: 0.5rem;
  width: 13.496rem;
  border: 1px solid #4D226D;
  text-align: center;
  vertical-align: middle;
}

@media screen and (min-width: 768px) {
  .top-nav .top-nav-links__link {
    width: 9rem;
  }
}

.top-nav .top-nav-links__link:not(:last-child) {
  margin-right: 4rem;
}

@media screen and (min-width: 768px) {
  .top-nav .top-nav-links__link:not(:last-child) {
    margin-right: 1rem;
  }
}

.top-nav .top-nav-links__link-item {
  display: block;
  padding: 1rem 1.5rem;
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: bold;
}

@media screen and (min-width: 768px) {
  .top-nav .top-nav-links__link-item {
    padding: 0.8rem 1rem;
  }
}

.signup-btn {
  background-color: #4D226D;
}

.signup-btn a {
  color: white;
}

.login-btn a {
  color: #4D226D;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 67rem;
  width: 55%;
  z-index: 1;
}

@media screen and (max-width: 768px) {
  .hero {
    align-items: center;
    height: 40rem;
    width: 100%;
    text-align: center;
    height: 40rem;
  }
}

@media screen and (max-width: 320px) {
  .hero {
    align-items: center;
    height: 30rem;
    width: 100%;
  }
}

@media screen and (min-width: 1024px) {
  .hero {
    height: 67rem;
    width: 55%;
  }
}

.hero__headline {
  font-size: 4rem;
  font-weight: bold;
  color: #4D226D;
}

@media screen and (max-width: 425px) {
  .hero__headline {
    text-align: center;
  }
}

@media screen and (max-width: 320px) {
  .hero__headline {
    font-size: 3rem;
  }
}

.hero__subheadline {
  font-size: 2rem;
  color: #4D226D;
  font-weight: 100;
  margin-top: 1.6rem;
}

@media screen and (max-width: 425px) {
  .hero__subheadline {
    text-align: center;
  }
}

@media screen and (max-width: 320px) {
  .hero__subheadline {
    font-size: 1.5rem;
  }
}

.hero__image {
  position: absolute;
  width: 200px;
  height: 200px;
}

@media screen and (max-width: 768px) {
  .hero__image {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .hero__image {
    width: 150px;
    height: 150px;
  }
}

@media screen and (min-width: 1024px) {
  .hero__image {
    width: 250px;
    height: 250px;
  }
}

.hero__image--1 {
  top: 33rem;
  right: 20rem;
}

@media screen and (min-width: 768px) {
  .hero__image--1 {
    top: 38rem;
    right: 13rem;
  }
}

@media screen and (min-width: 1024px) {
  .hero__image--1 {
    top: 20rem;
    right: 20rem;
  }
}

.hero__image--2 {
  top: 40rem;
  right: 0;
}

@media screen and (min-width: 768px) {
  .hero__image--2 {
    top: 41rem;
  }
}

@media screen and (min-width: 1024px) {
  .hero__image--2 {
    top: 28rem;
  }
}

.hero__image--3 {
  bottom: 9rem;
  right: 20rem;
}

@media screen and (min-width: 768px) {
  .hero__image--3 {
    bottom: 4rem;
    right: 11rem;
  }
}

@media screen and (min-width: 1024px) {
  .hero__image--3 {
    bottom: 9rem;
    right: 15rem;
  }
}

.hero__image--4 {
  bottom: 0;
  right: 0;
}

.download-links {
  display: flex;
  margin-top: 1.6rem;
}

.download-links img {
  margin-right: 2rem;
  width: 150px;
  height: 50px;
}

@media screen and (max-width: 425px) {
  .download-links img {
    margin-right: 0;
  }
}

@media screen and (max-width: 320px) {
  .download-links img {
    width: 120px;
  }
}

.app-features {
  display: flex;
  background-color: white;
  height: 60rem;
  padding-left: 5rem;
  padding-right: 5rem;
  margin-top: 1rem;
}

@media screen and (max-width: 768px) {
  .app-features {
    height: 25rem;
  }
}

@media screen and (max-width: 425px) {
  .app-features {
    flex-direction: column;
    height: 40rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    text-align: center;
  }
}

.app-features > * {
  flex: 1;
}

.app-features__left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .app-features__left {
    margin-bottom: 2rem;
    text-align: center;
  }
}

.app-features__left-inner {
  width: 80%;
}

@media screen and (max-width: 768px) {
  .app-features__left-inner {
    width: 100%;
  }
}

.app-features__left-leadtext {
  font-size: 2.5rem;
  font-weight: bold;
  color: #707070;
}

.app-features__left-subtext {
  font-size: 1.2rem;
  margin-top: 1.5rem;
  color: #707070;
}

.app-features__right {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .app-features__right {
    display: none;
  }
}

.app-features__right img {
  width: 35rem;
  height: 35rem;
}

.food-categories {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 25rem);
}

@media screen and (max-width: 425px) {
  .food-categories {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 25rem);
  }
}

@media screen and (min-width: 426px) and (max-width: 768px) {
  .food-categories {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, 25rem);
  }
}

.food-category {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.food-category__name {
  position: absolute;
  font-size: 2rem;
  font-weight: bold;
  color: #707070;
  left: 1.5rem;
  bottom: 0.5rem;
}

.food-category img {
  width: 25rem;
  height: 25rem;
}

.food-category--1 {
  width: 100%;
  height: 100%;
  background-color: #f5f5f5;
}

.food-category--2 {
  background-color: #FF483B;
}

.food-category--2 p {
  color: white;
}

.food-category--3 {
  width: 100%;
  height: 100%;
  background-color: #FCBB01;
}

.food-category--3 img {
  width: 15rem;
  height: 20rem;
}

.food-category--3 p {
  color: white;
}

.food-category--4 {
  width: 100%;
  height: 100%;
  background-color: #f5f5f5;
}

.food-category--4 img {
  width: 200px;
  height: 150px;
}

@media screen and (min-width: 769px) {
  .food-category--1 {
    grid-area: 1/1/3/3;
  }

  .food-category--2 {
    grid-area: 1/3/2/5;
  }

  .food-category--3 {
    grid-area: 2/3/3/4;
  }

  .food-category--4 {
    grid-area: 2/4/3/5;
  }
}

.favorites {
  background-image: url("/images/features-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  margin-top: 0;
}

.favorites .app-features__right img {
  width: 30rem;
  height: 25rem;
}

@media screen and (max-width: 425px) {
  .favorites .app-features__right img {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .favorites {
    height: 35rem;
  }

  .favorites .app-features__left {
    text-align: center;
    margin-top: 2rem;
  }

  .favorites .download-links {
    justify-content: center;
  }
}

@media screen and (max-width: 768px) {
  .favorites .download-links img {
    width: 15rem;
  }
}

.downloads {
  display: flex;
  height: 40rem;
  justify-content: center;
  align-items: center;
}

.downloads-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .downloads-container {
    text-align: center;
    padding: 3.5rem;
  }

  .downloads-container .download-links img {
    width: 15rem;
  }
}

@media screen and (max-width: 320px) {
  .downloads-container {
    height: 40rem;
  }
}

.downloads-leadtext {
  font-size: 3rem;
  color: #707070;
  font-weight: bold;
  margin-bottom: 2rem;
}

@media screen and (max-width: 320px) {
  .downloads-leadtext {
    font-size: 2rem;
  }
}

.downloads-subtext {
  font-size: 1.6rem;
  margin-top: 2rem;
  color: #707070;
}

.form-control {
  display: flex;
  margin-top: 3rem;
  align-items: center;
}

.form-control input {
  padding: 1.6rem 2rem;
  font-size: 1.2rem;
  width: 25rem;
  height: 5rem;
  outline: none;
  border: 1px solid #e3f8f2;
  background-color: #e3f8f2;
}

.form-control input::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #71DEC0;
}

.form-control input::-moz-placeholder {
  /* Firefox 19+ */
  color: #71DEC0;
}

.form-control input:-ms-input-placeholder {
  /* IE 10+ */
  color: #71DEC0;
}

.form-control input:-moz-placeholder {
  /* Firefox 18- */
  color: #71DEC0;
}

@media screen and (max-width: 320px) {
  .form-control input {
    width: 19rem;
    padding: 1.6rem 1rem;
  }
}

.form-control__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  font-size: 1.6rem;
  background-color: #71DEC0;
  height: 5rem;
}

.footer {
  display: flex;
  flex-direction: column;
  height: 20rem;
  background-color: black;
  color: white;
  padding-right: 5%;
  padding-left: 5%;
  justify-content: center;
}

.footer hr {
  border: 0;
  height: 0;
  border-top: 1px solid white;
  margin-top: 2rem;
}

.footer__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__top .footer__logo-group {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__top .footer__logo-group img {
  margin-right: 2rem;
  width: 4rem;
  height: 5rem;
}

.footer__top .footer__logo-group p {
  font-size: 1.5rem;
}

.footer__top .footer__others {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.footer__top .footer__others-item {
  display: block;
  margin-bottom: 0.5rem;
}

.footer__top .footer__others-link {
  text-decoration: none;
  color: white;
  font-size: 1.4rem;
}

.footer__top .download-links {
  justify-self: flex-end;
}

.footer__top .download-links a {
  margin-right: 0.5rem;
}

.footer__top .download-links a img {
  width: 15rem;
}

@media screen and (max-width: 425px) {
  .footer__top .download-links {
    display: none;
  }
}

.footer__bottom {
  display: flex;
  height: 4rem;
  margin-top: 2rem;
  justify-content: space-between;
  align-items: center;
}

.footer__bottom .copyright {
  font-size: 1.2rem;
}

.nav-bottom {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.nav-bottom-item {
  display: inline;
}

.nav-bottom-item:not(:last-child) {
  margin-right: 2.5rem;
}

.nav-bottom-item a {
  text-decoration: none;
}

.nav-bottom-item a i {
  color: white;
}

.comments {
  display: flex;
  height: 50rem;
  width: 100%;
  flex-direction: row-reverse;
  align-items: center;
  background-image: url("/images/comments-bg.png");
  background-repeat: no-repeat;
}

.comments-inner {
  width: 25%;
  height: 80%;
  display: flex;
  flex-direction: column;
  padding: 5rem;
}

.comments-inner__leadtext {
  font-size: 2.5rem;
  font-weight: bold;
  color: white;
}

.swiper-container {
  width: 100%;
  height: 80%;
  margin-left: 0;
  margin-right: 0;
  margin-top: 5rem;
}

.swiper-slide p {
  font-size: 5rem;
  font-weight: bold;
  color: white;
  border-bottom: 1rem solid #71DEC0;
}

.swiper-pagination {
  text-align: start;
}

.swiper-pagination-bullet-active {
  background-color: white;
}

